<div class="item-inner list-promocoes">
    <div class="item-title" data-promocao="{{id}}">
        <div class="list-pro-col1 font14">{{promococao}}</div>
        <div class="list-pro-col2">
            <i class="link fa fa-lg fa-minus-circle color-blue"></i>
            <div class="nun-qtd">0</div>
            <i class="link fa fa-lg fa-plus-circle color-blue"></i>
        </div>
        <div class="list-pro-col3 font14 vlr">R$ {{real vlr}}</div>
        <div class="list-pro-col4 font14 cb">
            <label>R$ 0,00</label>
            <br />
            <small>{{cb_percent}}%</small>
        </div>
        <div class="list-pro-col5 font14  vlr_total">R$ 0,00</div>
    </div>
</div>